body {
    color: white;
    background-color: black;
    font-family: "Lucida Console", "Courier New", monospace;
}

a {
    color: white;
}

a:hover {
    background-color: blue;
}

.bigdiv {
    display: flex;
    width: 900px;
    border: 4px solid blue;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.left-section, .right-section {
    box-sizing: border-box;
}

.left-section {
    flex: 0 0 15%;
    border-right: 4px solid blue;
    padding: 10px;
}

.right-section {
    flex: 0 0 85%;
    padding: 25px;
}